*{
    font-family: 'Poppins';
    box-sizing: border-box;
}

.main{
    background: linear-gradient(116.82deg, rgba(247, 183, 24, 0.7) 0%, rgba(245, 197, 78, 0.6) 100%);

}

.card-imc{
    background: rgba(255, 255, 255, 0.6);
    width: 40vw;
    height: 30vw;
    margin: auto;
    margin-top: 11.5vw;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title{
    font-family: 'Poppins', sans-serif;
    padding-top: 20px;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 25px;
}

.label-span{
    width: 350px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}


.peso-altura {
    -webkit-appearance: none;
    background: #ffffff;
    outline: none;
    width: 350px;
    height: 20px;
    border-radius: none; 
    display: block; 
    margin-bottom: 20px;
    margin-top: 10px;
}

.peso-altura::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    background: #f7b718;
    cursor: pointer;
}

span{
    font-size: 30px;
    color: #f7b718;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 2.5em;
}

label, p{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 1.5em;
}

p{
    font-size: 2em;
}

button{
    width: 350px;
    height: 40px;
    color: #ffffff;
    background-color: #f7b718;
    border: none;
    border-radius: 5px;
    margin-bottom: 45px;
    margin-top: 30px;
    font-size: 1.5em;
    cursor: pointer;
}

.result{
    font-size: 2rem;
    color: #000;
    font-weight: bold;
}

